@import "../../vars";

.card {
  border: 2px solid $theme-black;
  border-radius: 20px;
  display: flex;
  padding: 2rem;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: $theme-white;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  &__img {
    height: 200px;
    object-fit: contain;
  }
  &__title {
    color: $punk-blue;
    font-family: $main-font;
  }
  &__sub {
    font-weight: bold;
    color: $theme-black;
    font-family: $secondary-font;
    font-size: large;
  }
  &__sub:nth-of-type(2) {
    font-weight: normal;
    color: #696666;
  }
  &__info {
    max-height: 100px;
    overflow-y: scroll;
  }
}

.card:hover {
  opacity: 1;
}
