@import "../../vars";

.beers {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;

  &__heading {
    display: flex;
    text-align: center;
    color: $punk-blue;
    justify-content: space-around;
    align-items: center;
    &_logo {
      width: 100px;
    }
    &_title {
      font-size: 50px;
      font-family: $main-font;
      margin-left: 2rem;
    }
  }

  &__container {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    gap: 2rem;
    &__beer {
      border: 2px solid black;
      border-radius: 20px;
    }
  }
  @media screen and(min-width: 500px) {
    &__container {
      grid-template-columns: 65%;
    }
  }

  @media screen and(min-width: 1000px) {
    &__container {
      grid-template-columns: repeat(3, calc(80% / 3));
    }
  }
}
